# Ноутбуки коммитятся без выводов: картинки и таблицы раздувают файл
# и делают diff нечитаемым. Фильтр включается один раз командой
#
#     uv run nbstripout --install
#
# Пока фильтр не включён, эти строки просто ничего не делают.
*.ipynb filter=nbstripout
*.ipynb diff=ipynb
